body {
    background: #000000;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
    --cor-primaria: #e9d8bf;
    --cor-secundaria: #7d1c23;
    --cor-terceira: #4e1115;

}

.bg-parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh; /* maior que a tela */
    background-image: url("../img/background.PNG");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -1;
    will-change: transform;
}

.navbar {
    background: transparent;
}

.navbar {
    transition: background 0.3s, box-shadow 0.3s;
}

.navbar-scrolled {
    background: rgba(125, 28, 35, 0.95);
    box-shadow: 0 5px 20px rgba(60, 10, 14, 0.6);
}


.welcome {
    font-size: 1.25rem;
    color: var(--cor-secundaria);
    font-weight: bold;
    letter-spacing: 1.5px;
}

.hero {
    min-height: 100vh;
    background: var(--cor-secundaria);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero img {
    width: 600px;
}

.social-icons a {
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* SOBRE MIM ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

.about-section {
    background: transparent;
}

.about-card {
    display: flex;
    background: #e9d8bfec;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.about-image {
    flex: 1;
    min-height: 350px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content {
    flex: 1.2;
    padding: 40px;
    color: var(--cor-secundaria);
}

.about-content h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--cor-secundaria);
}

.about-tools {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.tool {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tool img {
    width: 32px;
    height: 32px;
}

.tool span {
    font-size: 0.95rem;
    color: var(--cor-secundaria);
    font-weight: bold;
}



@media (max-width: 768px) {
    .about-card {
        flex-direction: column;
    }

    .about-image {
        height: 250px;
    }
}


/* Eu sou */
#typing::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* CARROSSEL DE IMAGENS -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Janela */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

/* Esteira */
.carousel-track {
  display: flex;
  will-change: transform;
}

/* Item */
.tech-carousel-item {
    flex: 0 0 auto;
    width: 220px;
    height: 320px;
}

/* Camada interna para zoom */
.item-inner {
    position: relative;
    transition: transform 0.3s ease;
    will-change: transform;
}

.item-inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(125, 28, 34, 0.603); /* cor roxa suave (exemplo) */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}


/* Imagem */
.tech-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* faz o corte automático */
    object-position: center; /* centraliza o corte */
    display: block;
}

.tech-carousel-item .item-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;        /* corta o excesso */
}

/* Hover */
.tech-carousel-item:hover .item-inner {
  transform: scale(1.06);
  z-index: 10;
}

.tech-carousel-item:hover .item-inner::after {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content img {
  max-width: 80vh;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain; /* ESSENCIAL */
  display: block;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: -14px;
  right: -14px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}


/* PROJETOS -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.projetos {
    background: var(--cor-primaria);
    min-height: 100vh;
}

.projetos-title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--cor-secundaria);
}

.projetos-desc {
    max-width: 600px;
    margin: 15px auto 0;
    color: var(--cor-secundaria) !important;
}

.projeto-item img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.3s;
}

.projeto-item img:hover {
    transform: scale(1.05);
}


.projetos-filtros .btn {
    background: #fff;
    border-radius: 30px;
    padding: 6px 18px;
    margin: 5px;
    font-weight: 600;
}

.projetos-filtros .ativo {
    background: var(--cor-secundaria);
    color: #fff;
}

.metric-card {
    background: var(--cor-secundaria);
    padding: 25px;
    border-radius: 10px;
}

.metric-card h3 {
    color: var(--cor-primaria);
    font-weight: 800;
}

.metric-card p {
    margin: 0;
    color: var(--cor-primaria);
}


/* FEEDBACK ---------------------------------------------------------------------------------------------------------------------------------------------- */
.comentarios {
    background: var(--cor-primaria);
    
}

.comentarios-header {
    max-width: 700px;
    margin: 15px auto 0;
}

.comentarios-header h2 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--cor-secundaria);
}

.comentarios-header p {
    font-size: 1rem;
    color: var(--cor-secundaria);
    margin-top: 15px;
}

.comentario-card {
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    height: 100%;
}

.comentario-card p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.comentario-top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comentario-top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comentario-top h5 {
    margin: 0;
    font-weight: 700;
}

.stars {
    color: #ffc107;
    font-size: 1rem;
}

.comentario-card p {
    font-size: 0.95rem;
    color: #555;
    margin-top: 15px;
}

/* SCROLL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* PACOTES -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.pacotes {
  background: var(--cor-secundaria);
}

.pacotes-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--cor-primaria);
}

.pacotes-desc {
  max-width: 600px;
  margin: 15px auto 0;
  color: var(--cor-primaria);
}

/* Card */
.pacote-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.24);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.pacote-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.404);
}

/* Destaque */
.pacote-card.destaque {
  transform: scale(1.05);
  /* border: 2px solid var(--cor-primaria); */
}

/* Header */
.pacote-header {
  padding: 30px 20px;
  color: #fff;
}

.pacote-header h4 {
  font-weight: 800;
  letter-spacing: 2px;
}

.pacote-header .preco {
  font-size: 3rem;
  font-weight: 800;
  display: block;
}

.pacote-header small {
  opacity: 0.8;
}

/* Cores dos planos */
.basic {
  background: linear-gradient(135deg, #ff6a00, #ff8c42);
}

.standard {
  background: linear-gradient(135deg, #00c6a7, #1ee0c2);
}

.premium {
  background: linear-gradient(135deg, #1e90ff, #4aa3ff);
}

/* Lista */
.pacote-list {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  width: fit-content;
}

.pacote-list li {
  padding: 10px 0;
  color: var(--cor-secundaria);
  font-size: 0.95rem;

  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  white-space: nowrap;
}

/* Botão */
.pacote-btn {
  margin: 0 30px 30px;
  border-radius: 30px;
  padding: 10px;
  font-weight: 600;
  background: var(--cor-secundaria);
  color: #fff;
  transition: 0.3s;
}

.pacote-btn:hover {
  background: var(--cor-terceira);
  color: #fff;
}


/* FOOTER -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    background-color: var(--cor-terceira);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: var(--cor-primaria);
    text-align: center;
}

.footer span {
    font-weight: 600;
}

#creditos {
    font-size: 0.6rem;
}

#creditos a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}


/* MOBILE REFINEMENTS */
@media (max-width: 768px) {

    /* HERO */
    .hero {
        text-align: center;
        padding-top: 100px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero img {
        width: 90%;
        margin-top: 30px;
    }

    /* SOCIAL ICONS */
    .social-icons {
        justify-content: center;
        display: flex;
    }

    /* SOBRE */
    .about-img {
        max-width: 85%;
        margin-bottom: 25px;
    }

    /* PROJETOS */
    .projetos-title {
        font-size: 2.3rem;
    }

    .projeto-item img {
        height: 200px;
    }

    /* FEEDBACK */
    .comentarios-header h2 {
        font-size: 2.3rem;
    }

    .comentario-card {
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .comentario-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    }

    .projeto-img {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
    }

    .projeto-img::after {
        content: "Ver projeto";
        position: absolute;
        inset: 0;
        background: rgba(0, 132, 255, 0.75);
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.3s;
    }

    .projeto-img:hover::after {
        opacity: 1;
    }

    p {
        line-height: 1.7;
    }

    h1, h2, h3, h4 {
        letter-spacing: 0.5px;
    }



}
